.hidden {
    display: none;
}

body {
    background: #eaf5ff;
    color: #a8000f;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255 218 0 / 0.33);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p.intervention {
    font-size: xx-large;
    font-weight: bolder;
    color: #a7000f;
}

p.target_audience {
    font-size: x-large;
    font-weight: bold;
}

.content {
    display: grid;
    align-content: center;
    justify-items: center;
}