.hidden {
    display: none;
}

body {
    display: grid;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-rows: 1em calc(100% - 5.5em) 1.5em 3em;
    margin-left: 1em;
    margin-right: 1em;
}

a {
    color: #dd0000
}

p.intervention {
    font-size: xx-large;
    font-weight: bolder;
    color: #dd0000;
}

p.target_audience {
    color: #0094ff;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.message {
    overflow-y: auto;
    max-height: 100%;
}

div#navbar {
    display: flex;
    justify-content: space-between;
}

div#langbar {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.navbutton {
    background: black;
    outline-color: white;
    color: #dd0000;
    min-width: 33%;
    font-size: larger;
    font-weight: bold;
}
/*
    encorporate later
*/
p.intervention {
    margin-bottom: .5em;
    margin-top: 0px;
}

p.target_audience {
    margin-top: 0px;
    margin-bottom: .25em;
}

p.promote {
    margin-top: 0px;
    margin-bottom: .25em;
    color: #dd0000;
}

p.message {
    margin: 0px;
}